<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue</title>
</head>
<body>
<h1>Issue:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Book ID</th>
        <th>Reader ID</th>
        <th>Time</th>
    </tr>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.id}"></td>
        <td ><a th:href="@{/issue/{id}(id=${issue.id})}" th:text="${issue.bookId}"></a></td>
        <td th:text="${issue.readerId}"></td>
        <td th:text="${issue.timestamp}"></td>

    </tr>
</table>
</body>
</html>